.updatebutton{
    background-color: rgb(24, 202, 24) !important;
    right:5px;
    border-radius: 5px;
}

.deliveryicon{
    right:5px;
    color : rgb(24, 202, 24);
}
S
.walleticon{
    right:5px;
    color : red !important;
}

.ratingicon{
    right:5px;
    color : rgb(250, 255, 0);
}