.navbar-default .navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-default {
    background-color: rgb(24, 202, 24);
    position: sticky !important;
    top: 0px;
    z-index: 100;
}
.course-text{
    padding: 84px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff  !important;
    font-size: 14px;
    font-weight: 700;
}
.navbar-nav > li > a{
	padding: 0px;
	margin: 10px 5px;
	padding: 10px 15px;
}
.navlogo {
    width:  50px;
    height: 45px;
    margin-bottom: 10px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
	color: #000000  !important;
    position: sticky !important;
}

.navbar-nav .active a{
    background: none ;
    color: #5FCF80 ;
    outline: none;
}

.btn-trial a{
	background-color: #5FCF80;
	border-radius: 25px;
	color: #ffffff ;
	border: 1px solid #5FCF80;
}
.btn-trial a:hover, .btn-trial a:focus{
	border: 1px solid #5FCF80;
	background-color: #fff;
	color: #5FCF80 ;
}
.navbar-default .navbar-brand {
    font-family: 'Dosis', sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    height: inherit;
    font-size: 36px;
    margin: 20px 0px;
}
.navbar-default .navbar-brand span{
	font-weight: 100 ;
}
.navbar {
    margin-bottom: 0px;
    max-height:80px;
}
.padding-zero{
	padding: 0px;
}
.mart20{
	margin-top: 20px;
}